<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FormHelper Samples</title>

    <link rel="stylesheet" href="//stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />

    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="//stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>


    <!-- form helper -->
    <link rel="stylesheet" href="/formhelper/formhelper.min.css" />
    <script src="/formhelper/formhelper.bundle.min.js"></script>
    <!-- remote modal -->
    <script src="//cdn.jsdelivr.net/gh/sinanbozkus/remotemodal/remotemodal.js"></script>
</head>
<body>

    <div class="text-center mt-3">
        <h1 class="display-4"><img src="~/formhelper-logo.png"  class="mb-2 mr-3" />Form Helper</h1>
        <p>Form & Validation Helper for <a href="https://dotnet.microsoft.com/learn/web/aspnet-hello-world-tutorial/intro" target="_blank">ASP.NET Core</a></p>
    </div>

    @{
        var page = (Page)ViewData["page"];
    }

    <div class="text-center mt-4 mb-4">
        <div class="btn-group" role="group" aria-label="Basic example">
            <a href="@Url.Action("TagHelper", "Home")" class="btn btn-light @(page == Page.TagHelper ? "active" : "")">
                Tag Helper
            </a>
            <a href="@Url.Action("HtmlHelper", "Home")" class="btn btn-light @(page == Page.HtmlHelper ? "active" : "")">
                Post with Ajax
            </a>
            <a href="@Url.Action("Post", "Home")" class="btn btn-light @(page == Page.Post ? "active" : "")">
                Native Post
            </a>
            <button id="openModal" class="btn btn-light">
                Remote Modal
            </button>
        </div>
    </div>

    <div class="text-center">
        <p>
            <a href="https://fluentvalidation.net/" target="_blank">Fluent Validation</a> was used for the validator in the samples.
            <br />You can also use your own validator. Form Helper doesn't depend to Fluent Validation.
        </p>
    </div>

    <div class="container mt-4">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; @DateTime.Now.Year - FormHelper.Samples - <small><a href="http://www.sinanbozkus.com" target="_blank">by Sinan BOZKUS</a></small>
        </div>
    </footer>

    <script src="~/js/site.js" asp-append-version="true"></script>

    <script>
        $("#openModal").click(function () {
            RemoteModal("@Url.Action("Modal", "Home")");
        });
    </script>

    @RenderSection("Scripts", required: false)
</body>
</html>
